@import "tailwindcss";

body {
  background-color: rgba(75, 41, 2, 0.982);
}
.bounce {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-typing{
  animation: typing 3.0s steps(35, end);
}

.animate-blink-caret{
  animation: blink-caret .75s step end infinite
}

@keyframes typing {
  from {width: 0}
  to {width: 40ch;}
}

@keyframes blink-caret {
  from, to {border-color: transparent}
  50% {border-color: black}
}